:root {
    --dark-blue: #4444f4;
    --dark-pink: #a226d3;
    --white: #eee;
    --purple: #7038f1;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body {
    background-color: var(--purple);
}

h1 {
    border: 2px solid rgb(9, 25, 9);
    background-color: var(--white);
    color: var(--dark-pink);
    font-size: 1.5rem;
    margin: 6rem auto 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.todo_list {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;

}

.todo_cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
   border: 2px dashed green;
   margin: 0 0 1rem 0;
}

.add-input{
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 1rem;
}

.list-wrapper, .unordered-list{
    width: 100%
}
.unordered-list{
    list-style: none;
    padding: 0
}

.list{
    display: flex;
    justify-content: space-between;
}
.editable-input{
    border: 2px solid blue;
    flex-basis: 0 1 45%;
}
.btn-wrapper{
    display: flex;
    flex-basis: 0 1 40%;
}

.edit{
    margin-right: 1rem;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 1rem;
}

.delete{
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 1rem;
}